.text-input {
    border: 1px solid $light-grey;
    height: 50px;
    font-size: $l-font-size;
    font-weight: 300;
    padding: $s-size;
    @include static-shadow($box-shadow-input);
}

.select {
    @extend .text-input;
    // background: rgba(0,0,0,0.1);
}

.textarea {
    @extend .text-input;
    height: 10rem;
}
